body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

label {
  cursor: pointer;
}

.color-themes {
  padding: 0;
}

.color-theme {
  list-style: none;
}
