body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

label {
  cursor: pointer;
}

.color-themes {
  padding: 0;
}

.color-theme {
  padding: 0;
}

.no-color-card {
  background-color: #eee;
  margin: 0px 10px;
  padding: 5px;
  display: table;
}
