.theme-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  margin: 0px 10px;
}

.theme-form__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.theme-form__select {
  line-height: 3em;
  padding: 0.28em 0.5em;
  border-radius: 10px;
}

.theme-form__label {
  font-weight: bold;
  flex-basis: 100%;
}

.theme-form__input {
  border-radius: 10px;
}

.theme-form__input--text {
  padding: 0.2em 0.5em;
}

.theme-form__input--text:focus,
.theme-form__input--text:hover {
  background-color: #eee;
}

.theme-form__button {
  border-radius: 10px;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}
